.label:hover {
	-fx-background-color: #ffffff;
	-fx-underline: true;
	-fx-text-fill: #9932CC;
}

#location-combo-box {
	-fx-background-color: #ffffff;
}

#location-combo-box:hover {
	-fx-border-color: gray;
}

#header {
	-fx-background-fill: #ffffff;
}

#section-header:hover {
    -fx-background-color: #ffffff;
	-fx-underline: true;
	-fx-text-fill: #9932CC;
}

#logo-header {
	-fx-font-size: 32pt;
}

#section-header {
    -fx-font-size: 16pt;
    -fx-font-family: futura-pt;
    -fx-text-fill: #0000ff;
}

.tilted-pane {
	-fx-background-color: #ffffff, #ffffff, #ffffff;
}

#footer-section-label {
    -fx-font-size: 14pt;
    -fx-font-weight: Bold;
    -fx-underline: false;
    -fx-text-fill: #000000;
    -fx-background-color: #F5F5F5;
}

#footer-link {
    -fx-font-size: 10pt;
}

#post {
	-fx-font-size: 15pt;
	-fx-text-fill: #0000ff;	
}

#post:hover {
	-fx-underline: true;
	-fx-text-fill: #9932CC;
}

#post-label {
	-fx-font-size: 18pt
}

#post-date{
	-fx-font-size: 12pt;
}

#post-options {
	-fx-font-size: 12pt;
}

#post-options:hover {
	-fx-underline: true;
}

#select-page {
	-fx-font-size: 12pt;
	-fx-font-family: futura-pt;
	-fx-text-fill: #0000ff;
}
